<section class="sect_03">
  <div class="title_picket_fence">Выбирайте штакетник под свой проек<span>т</span></div>
  <div class="item_group">
    <div class="item_one slide_size">
      <div class="container_image">
        <i class="back_type"></i>
        <div class="picket_fence_size"><h4>Штакетник трапециевидный узкий 100 мм</h4></div>
        <div class="image_picket_fence"></div>
        <i class="next_type"></i>
      </div>
      <a class="open_drawing">Посмотреть чертёж</a>
    </div>
    <div class="item_two">
    

    <div class="materials_group"></div>
    <div class="btn_group">
      <span role="button" class="open_picket_fence_form">Узнать стоимость</span>
      <small>Мы Вам перезвоним в самое ближайшее время</small>
    </div>
  </div>
</div>
</section>
<!-- MODAL PICKET FENCE DRAWING-->
<div class="modal_overlay">
  <div class="modal_close"></div>
  <div class="modal_window">
    <form id="picket_fence_form" enctype="application/form-data">
      <input value="Заявка калькулятор выбора цветов с сайта zaborberu.ru" name="title" hidden>
      <p>Оставить заявку!</p>
      <label>
        <input type="text" name="name" required>
        <span>Введите имя</span>
      </label>
      <label>
        <input type="tel" name="phone" data-mask="+7 (___)___-__-__" required>
        <span>Введите номер телефона</span>
      </label>
      <label>
        <input type="text" name="city" required>
        <span>Введите ваш город</span>
      </label>
      <button type="submit" class="button_to_close">Отправить заявку</button>
    </form>
  </div>
</div>