.contain
    a(href="/").logo.row
        .logo-type
            p ЗАБОРЫ-ЖАЛЮЗИ
            p МЕТАЛЛИЧЕСКИЙ ШТАКЕТНИК
        img(src="/assets/img/logo.svg", alt=title, width="40")
        .logo-title
            p ПРОИЗВЕДЕНО НА ЗАВОДЕ
            span СТАЛЬКОМПЛЕКТ
    .content-phones.gap
        .row.mid.gap-m
            i(class="fas fa-phone-alt")
            a(href="tel:" + messengers)=messengers