extends layout.pug
block content
    .mid.col.gap(style="height: 75vh;")
        span(style="font-size: 10em; font-weight: 700;") 404
        h1 Извините данный вид страницы в не зоне действия сети, перезайдите позже 
        p(style="font-size: 5em;") 😊
        a(href="/")
            button.btn Перейти на главную 