extends layout.pug
block content
    section.about
        .contain.row.gap
            .about-info.col.gap
                .col.block
                    b О компании:
                    p=about.about
                .col.block
                    b Тел, ватсап, вайбер: 
                    .col.gap-m
                        a(href="tel:" + about.messengers).link=about.messengers
                        a(href="mailto:" + about.mail).link=about.mail
                .col.block
                    b Мы в соцсетях:
                    .col.gap-m
                        a(href=about.vk).link Мы Вконтакте
                        a(href=about.inst).link Мы в Инстаграмм
            #map
    section.team
        .team-contain.col
            h3 Наша команда
            .team-all.row.gap
                .team-block.col.mid.gap
                    .team-block__avatar.mid
                        img(src="/assets/img/team/Анастасия менеджер отдела продаж.jpg")
                    .team-block__name
                        | Анастасия 
                    .team-block__position
                        | Менеджер продаж
                .team-block.col.mid.gap
                    .team-block__avatar.mid
                        img(src="/assets/img/team/Камилла менеджер отдела продаж.jpg")
                    .team-block__name
                        | Камилла 
                    .team-block__position
                        | Менеджер продаж
    section.sertificats
        .sertificats-contain.col
            h3 Сертификаты
            .sertificats-all.row.gap
                .sertificats-block.col.mid.gap(data-open="/assets/img/team/s1.jpg")
                    img(src="/assets/img/team/s1.jpg", alt="")
                .sertificats-block.col.mid.gap(data-open="/assets/img/team/s2.jpg")
                    img(src="/assets/img/team/s2.jpg", alt="")
                .sertificats-block.col.mid.gap(data-open="/assets/img/team/s3.jpg")
                    img(src="/assets/img/team/s3.jpg", alt="")
                .sertificats-block.col.mid.gap(data-open="/assets/img/team/s4.jpg")
                    img(src="/assets/img/team/s4.jpg", alt="")
                    
        