<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="delivery">
            <div class="delivery__head">
                <h2>КАЛЬКУЛЯТОР РАСЧЁТА</h2>
                <p>Выберите параметры своего забора из металлического штакетника:</p>
            </div>
            <div class="delivery__body">
                <div class="delivery__body-size">
                    <label>
                        Длина забора, м:
                        <input type="text" name="width">
                    </label>
                    <label>
                        Высота забора, м:
                        <input type="text" name="height">
                    </label>
                    <label>
                        Расстояние между планками, см:
                        <input type="text" name="dash">
                    </label>
                </div>
                <div class="delivery__body-type">
                    <div class="delivery__body-type__modal">
                        
                    </div>
                    <div class="col">
                        <p>Выберите ширину штакетника:</p>
                        <label>
                            <input type="checkbox" name="">
                            <b>75 мм</b>
                        </label>
                    </div>
                    <div class="col">
                        <p>Выберите профиль штакетника:</p>
                        <label>
                            <input type="checkbox" name="">
                            <b>М-образный</b>
                        </label>
                    </div>
                    <div class="col">
                        <button>Выберите цвет штакетника</button>
                        <button>Выберите тип забора</button>
                        <button>Выберите город доставки</button>
                        <button>Рассчитать стоимость</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/index.js"></script>
</body>
</html>